@model List<MovieModel>
@{
    ViewBag.Title = "Movies";
}
    <h2>This is the movie list page</h2>    
    <div class="row">
        <div class="col-3">
            <p>Genre</p>
            <p>Tags</p>
            <p>Sort</p>
            <div>
                <a asp-action="AddMovie">Add a Movie</a>
            </div>
        </div>
        <div class="col-8">
            <table class="MovieList">
                @foreach (MovieModel movie in Model)
                {
                 <tr class="MovieItem">
                    <td>@movie.Name</td>
                    <td>@movie.Genre</td>
                    <td>@movie.GenreTwo</td>
                    <td>@movie.Date</td>
                    <td>@movie.Watched</td>
                    <td>
                       @Html.ActionLink("Edit", "EditMovie", new { id = movie.ID})
                    </td>
                    <td>
                        @Html.ActionLink("Delete","DeleteMovie", new { id = movie.ID })
                    </td>
                 </tr>
                }
            </table>
        </div>
    </div>


