@model IEnumerable<MovieManager_TeunBuis.Models.MovieModel>

@{
    ViewData["Title"] = "AddMovieToList";
}

<h1>AddMovieToList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

    <table class="MovieList">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GenreTwo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Watched)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                //Gives a warning, but I've tried all sorts of methods to work around it. but they all don't work or make bad coding style
                //this seems the least bad option
            <form id="AddMovieToList" asp-controller="MovieList" asp-action="AddMovieToList" method="post" role="form">
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @if (item.GenreTwo == "0")
                        {
                            item.GenreTwo = "N/A";
                        }
                        @Html.DisplayFor(modelItem => item.GenreTwo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Watched)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        <input type="hidden" name="movieId" value="@item.ID" />
                        <input type="hidden" name="movieListId" value="@TempData["movieListId"]" />
                        <input type="submit" value="Add" />
                    </td>
                </tr>
            </form>
                    }
            </tbody>
    </table>


