@model MovieManager_TeunBuis.Models.MovieListModel

@{
    ViewData["Title"] = "EditMovieList";
}

<h1>EditMovieList</h1>

<h4>MovieListModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMovieList">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Movie list name:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="MovieCount" class="form-control" />
                <span asp-validation-for="MovieCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label type="hidden" asp-for="UserId" class="control-label"></label>
                <input type="hidden" asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <table class="MovieList">
        @foreach (MovieModel movie in Model.movieModels)
        {
        <tr class="MovieItem">
            <td>@movie.Name</td>
            <td>@movie.Genre</td>
            <td>@movie.GenreTwo</td>
            <td>@movie.Date</td>
            <td>@movie.Watched</td>
            <td>@Html.ActionLink("Delete", "DeleteMovieFromList", new { movieId = movie.ID, movielistId = Model.Id })</td>
        </tr>
        }
    </table>
</div>
<div>    
    <a asp-action="Index" asp-route-userName="@User.Identity.Name">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
