@model MovieManager_TeunBuis.Models.MovieListModel

@{
    ViewData["Title"] = "MovieListDetails";
}

<h1>MovieListDetails</h1>

<div>
    <h4>MovieListModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<h1>Movies:</h1>
<table class="MovieList">
    @foreach (MovieModel movie in Model.movieModels)
    {
    <tr class="MovieItem">
        <td>@movie.Name</td>
        <td>@movie.Genre</td>
        <td>@movie.GenreTwo</td>
        <td>@movie.Date</td>
        <td>@movie.Watched</td>
        <td>@Html.ActionLink("Delete", "MovieListDeleteMovie", new { movieId = movie.ID })</td>
    </tr>
    }
</table>
<div>
    @Html.ActionLink("Edit List", "EditMovieList", new { movieListId = Model.Id })    
</div>
<div>
    <a asp-action="Index" asp-route-userName="@User.Identity.Name">Back to list</a>
</div>
